<% provide(:title, "作品登録") %>
<div class="container">
  <h1>作品登録</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'productions/production_form' %>
    </div>
  </div>
</div>