/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";


// ミックスイン
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

main {
  padding: 0;
  margin: 0;
  // background-color: #cd5c5c;
  color: #000;
  width: 100%;
  height: 100% !important;
}

// ログイン前のトップページ
.cover {
  background-image: url(image-path('top_image.jpg'));
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  height: auto;
  position: relative;
  color: #fff;
}

// イマクリとは？ページ
.about {
  margin-top: 20px;
}

// フォーム 
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}

#session_remember_me {
  width: auto;
}

//// ユーザー一覧ページ ////
.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
  }
}

//// プロフィールページ ////
.title-profile {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

.account-delete {
  margin-top: 20px;
}

// フォロー、フォロワー数表示部
.stats {
  margin: 5px 0;
}


//// 作品(Production) ////
.productions {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .description {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: #e8e8e8;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

//// 作品個別ページ ////
.production-user-name {
  display: inline-block;
}

h2.production-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.production-reference {
  margin-top: 30px;
}

.production-material {
  margin-top: 30px;
}

.tips {
  margin-top: 30px;
  margin-bottom: 30px;

  h5 {
    font-size: 17px;
  }
}

.title-tips {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.show-production-other-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.production-other-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.production-info {
  h5 {
    font-size: 16px;
    display: inline-block;
  }

  h4 {
    font-size: 20px;
    display: inline-block;
  }
}

.change-production {
  display: inline-block;
}

.edit-production .delete-production {
  font-size: 15px;
}

.production-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.title-comment {
  font-weight: bold;
  font-size: 17px;
}

.comments {
  list-style: none;

  li {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;

    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: grey;
}

.title-createlog {
  font-weight: bold;
  font-size: 17px;
}

.production-created-at {
  color: grey;
}

.logs {
  list-style: none;

  li {
    font-size: 16px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;

    .delete {
      font-size: 14px;
    }
  }
}

//// トップページ（ログイン後） ////
// 「新しい作品を作る」ボタン
.btn-record {
  margin-top: 3em;
  color: black;
  background-color: #fee856;
  border-color: #fee856;
}

// 「CSV出力」ボタン
.btn-csv {
  color: black;
  background-color: palegreen;
  border-color: palegreen;
}

// 作品一覧
.production-user {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3.production-name {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.production-description {
  margin-top: 10px;
}

// お気に入り
.create-user {
  margin-bottom: 20px;
}

// リスト
.list-button {
  margin-bottom: 20px;
}

// ログ
.add-createlog {
  font-weight: bold;
}


//// 作品登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}


//// お気に入りページ ////
.like-btn-unlike {
  color: red;
}

.like-btn-like {
  color: grey;
}

a.like,
a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}


//// 製作予定リスト ////
.list-btn-unlist {
  color: red;
  margin: 10px 0;
}

.list-btn-list {
  color: grey;
  margin: 10px 0;
}

a.list,
a.unlist {
  text-decoration: none;
}

.lists {
  list-style: none;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.list-message {
  font-size: 16px;
}

.list-production-description {
  margin-bottom: 20px;
}


//// 通知 ////
// 新しい通知があるときは赤文字にする
li.new_notification>a>span {
  color: red;
}

.notifications {
  list-style: none;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .gravatar {
    margin-right: 10px;
    margin-top: -5px;
  }
}

.notification-message {
  font-size: 16px;
}


//// 材料 ////
.title-material-name,
.title-material-amount {
  font-weight: bold;
}

.materials {
  margin-top: 30px;
  margin-bottom: 30px;

  h5 {
    font-size: 17px;
  }
}

.title-materials {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.material {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.material th,
table.material td {
  padding: 10px 0;
  text-align: center;
}

table.material tr:nth-child(odd) {
  background-color: #eee
}